rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow users to read and write their own data
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow Unity game to add and read data when authenticated
    match /games/{gameId} {
      allow read, write: if request.auth != null;
    }

    // Add any additional rules here for specific collections or documents if needed
  }
}
